artefacts/el-org.el
artefacts/ess-org-demo-results.html?*
artefacts/ess-org-demo-results.org*
artefacts/ess-org-demo-results.pdf?*
artefacts/ess-org-demo-results.tex*
artefacts/ess-org-startup.org
artefacts/floattoc.css
artefacts/*.html~
ess-org-beamer.tex*
ess-org-demo-results.tex~
ess-org.pdf*
ess-org.tex*
.html~
tangled/
touched/
.tex~
