artefacts/el-org.el
artefacts/ess-org-demo-expanded.org~
artefacts/ess-org-demo-results.html?*
artefacts/ess-org-demo-results.org*
artefacts/ess-org-demo-results.pdf?*
artefacts/ess-org-demo-results.tex*
artefacts/ess-org-startup.org
artefacts/ggm-twbs.html-fragment
artefacts/*.html~
ess-org-beamer.html*
ess-org-beamer.pdf*
ess-org-beamer.tex*
ess-org-demo.html*
ess-org-demo.pdf*
ess-org-demo.tex*
ess-org-demo-results.tex~
ess-org.pdf*
ess-org.tex*
tangled/
touched/
